@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500&display=swap");
.navbar-brand {
  font-family: "Playfair Display";
  font-weight: 500;
}

html,
body {
  height: 100% !important;
}

body {
  font-family: "Montserrat", Arial, sans-serif !important;
  background-color: rgb(241, 241, 241) !important;
}

button {
  border-radius: 40px !important;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: 400;
}

.profile img {
  filter: grayscale(80%);
}

.SliderImg i {
  z-index: 4;
}

.profile .desc {
  color: var(--bs-navbar-color) !important;
}

.nav-item {
  font-family: "Playfair Display";
  font-weight: 400;
}

.navbar i {
  font-size: 1.1rem;
  color: var(--bs-nav-link-color);
}

.navbar i:hover {
  transition: 0.3s ease-in-out;
  color: #212529;
}

.profile i {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #212529;
}

.profile i:hover {
  transition: 0.3s ease-in-out;
  color: #424649;
}

/* .ProjectItem .img-hidden {
  margin-left: -100%;
  z-index: -1;
}

.ProjectItem:hover .img-default {
  visibility: hidden;
} */

/* .ProjectItem .desc {
  z-index: -2;
  color: black;
} */

/* .ProjectItem:hover .desc { */
/* color: white; */
/* z-index: 1; */
/* font-size: calc((1vw + 1vh + 0.5vmin) / 2); */
/* } */

/* .ProjectItem .desc {

  transform: translate(-130%, 0%);
} */

/* .ProjectItem .desc {
  color: transparent;
  position: absolute;
} */

.ProjectItem {
  position: relative;
  text-align: center;
}

.ProjectItem .desc {
  pointer-events: none;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ProjectItem:hover .desc {
  color: white;
}
.ProjectItem:hover img {
  filter: blur(3px) brightness(0.4);
  transition: 0.5s ease-in-out;
}
/* 
.slick-slide div {
  outline: none;
} */

.SliderImg img {
  height: 600px;
}

/* .imgWrapper {
  max-height: 50em;
  max-width: 50em;
} */
.slickSlide {
  display: table-caption !important;
}

.slick-slider {
  position: initial !important;
}

/* p {
  display: inline-block !important;
} */

.slick-arrow:hover,
.SliderImg i:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7 !important;
}

@media (min-width: 768px) {
  .bi-instagram {
    margin: 0;
  }
}
