@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500&display=swap");
.navbar-brand {
  font-family: "Playfair Display";
  font-weight: 500;
}

html,
body {
  font-family: "Montserrat", Arial, sans-serif !important;
  background-color: rgb(241, 241, 241) !important;
  font-size: min(18px, 1.4vh);
}

html,
body,
body > #root {
  height: 100vh;
}

button {
  border-radius: 40px !important;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: 400;
}

.profile img {
  filter: grayscale(80%);
}

.SliderImg i {
  z-index: 4;
}

.profile .desc {
  color: var(--bs-navbar-color) !important;
}

.profile {
  display: table-caption !important;
}

.nav-item {
  font-family: "Playfair Display";
  font-weight: 400;
}

.navbar i {
  font-size: 1.1rem;
  color: var(--bs-nav-link-color);
}

.navbar i:hover {
  transition: 0.3s ease-in-out;
  color: #212529;
}

.profile i {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #212529;
}

.profile i:hover {
  transition: 0.3s ease-in-out;
  color: #424649;
}

.ProjectGrid {
  max-width: 1600px !important;
}

.ProjectItem {
  position: relative;
  text-align: center;
}

.ProjectItem .desc {
  pointer-events: none;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ProjectItem:hover .desc {
  color: white;
}
.ProjectItem:hover img {
  filter: blur(3px) brightness(0.4);

  transition: 0.5s ease-in-out;
}
.ProjectItem:hover {
  overflow: hidden;
}

.slick-arrow:hover,
.SliderImg i:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7 !important;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .custRow.header {
  flex: 0 1 auto;
}

.box .custRow.content {
  flex: 1 1 auto;
}

.slickCard img {
  height: 60vh;
}

.slickCard {
  display: table-caption !important;
}

.slick-next,
.slick-prev {
  transform: translate(0, 30vh) !important;
  top: 0% !important;
}

.slick-slider {
  overflow-y: hidden;
}

.slider {
  display: none;
}
.slider.slick-initialized {
  display: block;
}
